---
layout: base.njk
---
{% from "partials/macros.njk"import linklist, bookmark with context %}

<h2>{{ title }}</h2>

{% if definition %}
  <blockquote>
    {{ definition.text }}
  <cite><a href="{{ definition.cite.url }}"> {{ definition.cite.text }}</a></cite>
  </blockquote>
{% endif %}

{% if links %}
  <h3><span>Links about <code>{{ title }}</code></span></h3>

<ol class="bookmarks">
  {% for entry in entries[tags[0]][links] %}
    {{ bookmark(entry)}}
  {% endfor %}
  </ol>
{% endif %}

{% if related %}
  <h3><span>This might be interesting as well</span></h3>

  {% for entry in related %}
    {{ bookmark(entry)}}
  {% endfor %}
{% endif %}

{{ content | safe }}

{{linklist("Explore other pages", "", "entry", 4, true)}}
