---
title: JavaScript Methods
short_desc: Articles and talks about JavaScript methods.
layout: overview.njk
permalink: js/methods/index.html
changefreq: weekly
sm_img: sm_js.jpg
---
{% import "partials/macros.njk" as macros with context %}
  
<p>
  Articles and talks about JavaScript methods.
</p>

{{macros.linklist("Featured methods", "js/methods", "methods")}}
