---
title: HTML
layout: overview.njk
permalink: html/index.html
tags:
  - nav
date: 2020-01-01
---
{% import "partials/macros.njk" as macros with context %}

<p>
  Articles and talks about HTML elements and attributes.
</p>

{{macros.linklist(title="Elements", url="html/elements", list="elements")}}
{{macros.linklist(title="Attributes", url="html/attributes", list="attributes")}}
