---
title: HTML
layout: overview.njk
permalink: html/index.html
tags:
  - nav
date: 2020-01-01
---
{% import "partials/macros.njk" as macros with context %}

<p>
  Articles and talks about HTML elements and attributes.
</p>

{{macros.linklist("Elements", "html/elements", "elements", sort="alpha")}}
{{macros.linklist("Attributes", "html/attributes", "attributes", sort="alpha")}}
