---
title: CSS Values, Functions, and Units
short_desc: Articles and talks about CSS property values, functions, and units.
layout: overview.njk
permalink: css/values/index.html
changefreq: weekly
sm_img: assets/img/sm_css.jpg
---
{% import "partials/macros.njk" as macros with context %}
  
<p>
  {{ short_desc }}
</p>

{{macros.linklist("Featured " + title, "css/values", "values")}}
