* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.8rem;
  margin: 0.7rem;
  line-height: 1.5;
  max-width: 80rem;
}

h2 {
  margin: 0 0 0.7rem;
  font-size: 3.2rem;
  color: #c34035;
}

.h3,
h3 {
  margin: 0 0 0.7rem;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.3;
}

h3 > * {
  background-color: #34527b;
  color: #FFFFFF;
  padding: 0.6rem 0.8rem 0.4rem;
  display: inline-block;
  line-height: 1;
}

h3 a:link,
h3 a:visited {
  text-decoration: none;
  color: #fff;
}

blockquote {
  margin: 0;
}

cite {
  font-size: 1.6rem;
  display: block;
}

p {
  margin-bottom: 2.8rem;
  margin: 0;
}

a:link {
  color: #c34035;
}

a:visited {
  color: #c34035;
}

img {
  max-width: 100%;
  display: block;
}

/* HEADER */
.site-header {
  margin-bottom: 3.5rem;
}

.title {
  display: flex;
  margin-bottom: 0.7rem;
}

.logo {
  background: rgb(52, 82, 123);
  padding: 1.3rem 1.7rem;
  display: flex;
  align-items: center;
}

.logo__img {
  height: 9rem;
  height: 4rem;
}

h1 {
  font-size: 3.3rem;
  background: #c34035;
  padding: 0.4em 0.3em 0.2em;
  display: inline-flex;
  align-items: center;
  color: #fff;
  margin: 0;
  line-height: 1;
  flex-grow: 1;
}

/* NAV */

.nav {
  margin-bottom: 1.4rem;
}

.nav__items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav__items > * + * {
  margin-left: 0.7rem;
}

.nav__item {
  background: #c34035;
}

.nav__link {
  display: inline-flex;
  background: rgb(52, 82, 123);
  padding: 0.6rem 1.7rem 0.2rem;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.4rem;
  align-items: center;
  justify-content: center;
}

.nav__link--active {
  background: rgb(27, 43, 64);
}

.nav__link:link,
.nav__link:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav__link:focus,
.nav__link:hover {
  background: rgb(27, 43, 64);
  border-color: rgb(27, 43, 64);
}

/* Search */

.jump {
  margin-top: 0.7rem;
}

.jump__label {
  font-weight: bold;
  display: block;
  font-size: 1.7rem;
  margin-bottom: 0.3rem;
  color: rgb(52, 82, 123);
}

.jump__input {
  display: block;
  border: 0.3rem solid#c34035;
  padding: 1rem 1rem;
  width: 100%;
  max-width: 32rem;
  font-size: 1.7rem;
  caret-color: #c34035;
}

/* Content */

.site-content > * + * {
  margin: 3.5rem 0 0;
}

.site-content h2 + * {
  margin-top: 2.1rem;
}

/* link list */

.links + .links {
  margin-top: 6rem;
}

.link-list {
  margin: 0;
  padding: 0 0 0 0.7rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  grid-gap: 2.8rem 1.4rem;
  font-size: 2.2rem;
  margin: 1.4rem 0 0;
}

.link-list__item {
  background: url('/assets/img/list-item.svg') no-repeat;
  padding-left: 2.4rem;
  background-position: top 0.3rem left;
}

.link-list__link {
  background: rgb(255, 255, 255);
  display: block;
  font-weight: bold;
  line-height: 1;
}

.link-list__desc {
  font-size: 1.6rem;
}

.link-list__link:link,
.link-list__link:visited {
  color: rgb(52, 82, 123);
}

.link-list__link:focus,
.link-list__link:hover {
  background: rgb(255, 255, 255);
  text-decoration: none;
}

/* Tags */
.tags {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 1rem;
  font-size: 1.6rem;
}

.tags__tag {
  margin-right: 0.7rem;
  line-height: 1;
}

.tags__link {
  background: rgb(191, 103, 95);
  padding: 0.4rem 0.5rem 0.2rem;
  border-radius: 0.2rem;
  line-height: 1;
  display: inline-flex;
}

.tags__link:hover {
  background:rgb(170, 83, 76);
}

.tags__link--css,
.tags__link--html {
  background: rgb(84, 112, 147);
}

.tags__link--css:hover,
.tags__link--html:hover {
  background: rgba(27, 43, 64,1)
}


.tags__link:link,
.tags__link:visited {
  color: #fff;
  text-decoration: none;
}

.tags__link:hover {
}

.bookmarks {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bookmark {
  margin-bottom: 2.7rem;
  background: url('/assets/img/list-item.svg') no-repeat;
  background-size: 17px auto;
  padding-left: 24px;
  background-position: top 0.6rem left;
}

.bookmark__heading {
}

.bookmark__img {
  margin-right: 1.8rem;
  flex-shrink: 0;
  border: 0.9rem solid rgb(52, 82, 123);
  width: 320px;
  height: 180px;
  object-fit: cover;
  margin-bottom: 1.8rem;
}

.bookmark__meta {
  margin: 0;
  font-size: 1.8rem;
}

.bookmark__link {
  background: none;
}

.bookmark__link:link,
.bookmark__link:visited {
  color: rgb(52, 82, 123);
  text-decoration: underline;
}

.bookmark p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 320px;
}

/* Footer */

.site-footer {
  font-size: 1.6rem;
  margin: 7rem 0 2.8rem;
}
