---
title: JS
short_desc: Articles and talks about Javascript methods and expressions.
layout: overview.njk
permalink: js/index.html
tags:
  - nav
date: 2020-01-03
changefreq: weekly
sm_img: sm_js.jpg
---
{% import "partials/macros.njk" as macros with context %}

<p>
  Articles and talks about Javascript methods and expressions.<br>
</p>
<p>
  As you can see, there aren't many links at the moment. That's because I don't read a lot of Javascript related articles.<br>
  It'd be awesome, if you could help me extend this list by <a href="https://github.com/matuzo/front-end-bookmarks/#contributing" rel="noopener">contributing</a>.
</p>

{{macros.linklist("Methods", "js/methods", "methods")}}
{{macros.linklist("Expressions", "js/expressions", "expressions")}}
