---
title: HTML Attributes
short_desc: Articles and talks about HTML attributes.
layout: overview.njk
permalink: html/attributes/index.html
changefreq: weekly
---
{% import "partials/macros.njk" as macros with context %}
  
<p>
  Articles and talks about HTML attributes.
</p>

{{macros.linklist("Featured attributes", "html/attributes", "attributes")}}
