---
title: Oops! Page Not Found 😭
permalink: 404.html
layout: base.njk
page_class: page_404
---

<h1 class="h2">{{ title }}</h1>

<p>
This page doesn't exist (anymore), I'm soooo sorry.<br>
Visit the <a href="/">homepage</a> or jump directly to <a href="/html">HTML</a>, <a href="/css">CSS</a>, or <a href="/js">JS</a>.
</p>
