---
title: ""
layout: base.njk
---
{% import "partials/macros.njk" as macros with context %}

<h2><span>Recently updated</span></h2>

{{macros.linklist("HTML", "html", "html")}}
{{macros.linklist("CSS", "css", "css")}}
