---
permalink: /sitemap.xml
sitemap: false
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.all %}
  {%- if item.data.sitemap != false %}
    <url>
      <loc>{{ project.site_url }}{{ item.url }}</loc>
      <lastmod>{{ item.date | machineDate }}</lastmod>
      <changefreq>{{ item.data.changefreq or "monthly" }}</changefreq>
    </url>
  {% endif %}
{%- endfor %}
</urlset>
