{% macro linklist(title, url, list, limit = 1000, randomize = false, sort="date") %}
<div class="links">
  {% if title %}
    <h3>
      {% if url %} 
        <a href="/{{ url }}">{{ title }}</a>
      {% else %}
        <span>{{ title }}</span>
      {% endif %}
    </h3>
  {% endif %}
   
  <ul class="link-list">
  {% set pages = collections[list] %}

  {% if randomize %}
    {% set pages = pages | random %}
  {% endif %}

  {% if sort == "alpha" %}
    {% set pages = pages | sortAlpha | reverse %}
  {% endif %}

  {% for page in pages | sort(url) | reverse | head(limit) %}
    <li class="link-list__item card">
      <a href="{{ page.url }}" class="card__link">{{ page.data.title }}</a>
      <p class="card__desc">{{ page.data.short_desc }}</p>
      <ul class="tags">
        {% set tags = page.data.tags %}
        {% for tag in tags %}
          {% if not "entry" in tag %}
            <li class="tags__tag">
              <a href="/{{ tags[0] }}/{% if tag !==tags[0] %}{{ tag }}{% endif %}" class="tags__link  tags__link--{{ tag }}">
                {{ tag }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
</div>
{% endmacro %}
